<ion-header [translucent]="true" class="header-transparent">
  <ion-toolbar>
    <ion-title>Restaurantes & Cafés</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="food-page ion-padding">
  <!-- Remove condense header if not needed -->
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">food</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- List of Food Cards -->
  <!-- Use *ngFor with async pipe to loop through restaurant items -->
  <ion-card class="food-card" *ngFor="let item of restaurants$ | async">
    <img [src]="item.image" [alt]="item.name" />
    <ion-card-header>
      <ion-card-title>{{ item.name }}</ion-card-title>
      <p>{{ item.description }}</p>
    </ion-card-header>
  </ion-card>

</ion-content>

<!-- Use the shared footer component -->
<app-footer-tabs></app-footer-tabs>