<ion-footer>
  <ion-tab-bar slot="bottom" class="footer-tab">
    <ion-tab-button tab="main" [routerLink]="['/main']" [class.tab-selected]="isTabActive('/main')">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="food" [routerLink]="['/food']" [class.tab-selected]="isTabActive('/food')">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Comida</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" [routerLink]="['/about']" [class.tab-selected]="isTabActive('/about')">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Sobre</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bebidas" [routerLink]="['/bebidas']" [class.tab-selected]="isTabActive('/bebidas')">
      <ion-icon name="wine"></ion-icon>
      <ion-label>Bebidas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>