<ion-header [translucent]="true" class="header-transparent">
    <ion-toolbar>
        <ion-title>Bares & Cafés</ion-title> <!-- Changed title -->
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bebidas-page ion-padding"> <!-- Changed class -->
    <!-- List of Drink/Bar Cards -->
    <ion-card class="bebidas-card"> <!-- Changed class -->
        <img src="assets/barbilla.png" alt="Bar Image" /> <!-- Placeholder -->
        <ion-card-header>
            <ion-card-title>Billa</ion-card-title> <!-- Example Content -->
            <p>Cocktails & Bebidas</p> <!-- Example Content -->
        </ion-card-header>
    </ion-card>

    <ion-card class="bebidas-card"> <!-- Changed class -->
        <img src="assets/cuscas.jpg" alt="Bar Image" /> <!-- Placeholder -->
        <ion-card-header>
            <ion-card-title>Cuscas</ion-card-title> <!-- Example Content -->
            <p>Cocktails & Bebidas</p> <!-- Example Content -->
        </ion-card-header>
    </ion-card>

    <ion-card class="bebidas-card"> <!-- Changed class -->
        <img src="assets/tuna.png" alt="Bar Image" /> <!-- Placeholder -->
        <ion-card-header>
            <ion-card-title>Tuna</ion-card-title> <!-- Example Content -->
            <p>Cocktails & Bebidas</p> <!-- Example Content -->
        </ion-card-header>
    </ion-card>

    <!-- Add more cards as needed -->

</ion-content>

<!-- Use the shared footer component -->
<app-footer-tabs></app-footer-tabs>